/* borderRadius:"10px", width:"100%",height:"9%",textAlign:"center",backgroundColor:"#8b5e34",fontSize:"20px"}}
*/
.searchResult{
    
    width:300px;
    height: 50px;
    border-radius: 5px solid black;
    margin:2px;
    border-radius: 4px;    
} 
.searchDiv{
    padding:10px;
    align-items:left;    
}

.searchDiv button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}